*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
   display: flex;
   overflow: hidden;
}
.container{
    display: flex;
  align-items: center;
  justify-content: space-between;
margin-top: -50px;
}
.satauriii{
    font-family: "arvo";
}
.img1{
    width: 806.5px;
    height: 1310px;
}
.registration{
    display: flex;
    margin-left: 200px;
    width: 434px;
    height: 794px;
}
.div1{
 position: relative;
 top: 127px;
}
.svg1{
position: absolute;
top: 1px;
}
h5{
    color: #212121;
font-family: "lora";
font-size: 30px;
font-weight: 600;
line-height: 166.5%;
padding-left: 73px;
}
p{
    font-family: "arvo";
padding-top: 20px;
color: #949494;
font-size: 18px;
font-weight: 300;
line-height: 166.5%;
padding-left: 10px;
}
.sax{
    font-family: "arvo";
    display: flex;
    align-content: start;
    justify-content: start;
    color: #212121;
text-align: center;
font-family: "lora";
font-size: 20px;
font-weight: 400;
line-height: 166.5%; /* 33.3px */
margin-left: -60px;
}
.char{
    font-family: "lora";
    display: flex;
   justify-content: start;
   align-content: start;
    width: 432.171px;
height: 60px;
border: 2px solid #949494;
color: #949494;
font-family: "lora";
font-size: 18px;
font-weight: 300;
line-height: 166.5%; /* 29.97px */
padding-top: 10px;
padding-left: 10px;
margin: 10px;
}
span{
    color: #EB3800;
font-family:"arvo";
font-size: 20px;
font-weight: 400;
line-height: 166.5%;

}
.tvali{
    position: relative;
}
.tvall{
    position: absolute;
    top: -50px;
    left: 398px;

}
.charch{
    background: var(--Gradient-1, linear-gradient(180deg, rgb(255, 255, 255) 0%, #ffffff 0.01%, #ffffff 100%));
    cursor: pointer;
    display: flex;
width: 433px;
padding: 18px 177px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #4443FF;
font-family: "lora";
color: #FFF;
font-size: 20px;
margin-top: 20px;
padding: 20px;
margin-left: 10px;
}
.svg23{
    width: 32px;
    height: 32px;
}
.bol{
    display: flex;
    align-content: center;
    justify-content: center;
    color: #4443FF;
    font-family: "lora";
font-size: 20px;
font-weight: 600;
line-height: 166.5%; 
text-transform: capitalize;
margin-top: -20px;
}
.charcho5{
    display: flex;
    align-content:center;
    justify-content: center;
    background: var(--Gradient-1, linear-gradient(180deg, rgb(255, 255, 255) 0%, #ffffff 0.01%, #ffffff 100%));
    cursor: pointer;

}

.svet{
    display: flex;
    align-content: center;
    justify-content: center;
    color: #949494;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 166.5%; /* 29.97px */
}
.bb{
    display: flex;
    color: #7271FF;
font-family: "monoton";
font-size: 18px;
font-weight: 500;
line-height: 166.5%;
text-decoration-line: underline;
}
@media screen and (max-width: 1100px){
    .container{
        display: flex;
        flex-direction: column;
    }
    body{
        height: 210vh;
    }
}


